<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Servicios Ler's</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CUENTAS", "Index", "Cuenta", new { area = "" }, new { @class = "navbar-brand" })
                <div class="navbar-nav">
                    @Html.ActionLink("AGREGAR", "Create", "Cuenta", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            @*@if (Session["idUsuario"] == null)
                {*@
            @*}*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @*<!-- Footer -->
        <footer class="page-footer font-small teal pt-4">
            <!-- Footer Text -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2019 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Servicios Agrícolas</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>